In [298]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [299]:
train=pd.read_csv('train (1).csv')

In [300]:
train['dtype']='train'
train.head()

   Year  Month ProductCategory  Sales(In ThousandDollars)  dtype
0  2009      1   WomenClothing                     1755.0  train
1  2009      1     MenClothing                      524.0  train
2  2009      1   OtherClothing                      936.0  train
3  2009      2   WomenClothing                     1729.0  train
4  2009      2     MenClothing                      496.0  train

In [301]:
test=pd.read_csv('test (1).csv')

In [302]:
test['dtype']='test'

In [303]:
data=pd.concat([train,test],axis=0)
data.head()

   Year  Month ProductCategory  Sales(In ThousandDollars)  dtype
0  2009      1   WomenClothing                     1755.0  train
1  2009      1     MenClothing                      524.0  train
2  2009      1   OtherClothing                      936.0  train
3  2009      2   WomenClothing                     1729.0  train
4  2009      2     MenClothing                      496.0  train

In [304]:
#data=pd.get_dummies(['ProductCategory'],drop_first=True)

In [305]:
macro=pd.read_excel('macro_economic.xlsx')

In [306]:
weath=pd.read_excel('weather1.xlsx')

In [307]:
print('Columns of train:',train.columns)
print('Columns of test:',test.columns)
print('Columns of macro:',macro.columns)
print('Columns of weather:',weath.columns)

Columns of train: Index(['Year', 'Month', 'ProductCategory', 'Sales(In ThousandDollars)',
       'dtype'],
      dtype='object')
Columns of test: Index(['Year', 'Month', 'ProductCategory', 'Sales(In ThousandDollars)',
       'dtype'],
      dtype='object')
Columns of macro: Index(['Year-Month', 'Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'PartyInPower',
       'unemployment rate', 'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'AdvertisingExpenses (in Thousand Dollars)',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports'],
      dtype='object')
Columns of weather: Index(['Year', 'Month', 'Day', 'Temp high (°C)', 'Temp avg (°C)',
       'Temp low (°C)', 'Dew Point high (°C)', 'Dew Point avg (°C)',
       'Dew Point low (°C)', 'Humidity (%) high', 'Humidity (%) avg',
       'Humidity (%) low', 'Sea Level Press. (hPa) high',
       'Sea Level Press. (hPa) avg', 'Sea Level Press. (hPa) low',
       'Visibility (km) high', 'Visibility (km) avg', 'Visibility (km) low',
       'Wind (km/h) low', 'Wind (km/h) avg', 'Wind (km/h) high',
       'Precip. (mm) sum', 'WeatherEvent'],
      dtype='object')

In [308]:
macro['Year'] = macro['Year-Month'].str[:4].astype(int)
macro['Month'] = macro['Year-Month'].str[-3:].replace({'Jan':1,'Feb':2,'Mar':3,'Apr':4,'May':5,'Jun':6,'Jul':7,'Aug':8,
                                'Sep':9,'Oct':10,'Nov':11,'Dec':12})

In [309]:
macro=macro.drop(['Year-Month','AdvertisingExpenses (in Thousand Dollars)','PartyInPower'],axis=1)

In [310]:
macro.isnull().sum()

Monthly Nominal GDP Index (inMillion$)                               0
Monthly Real GDP Index (inMillion$)                                  0
CPI                                                                  0
unemployment rate                                                    0
CommercialBankInterestRateonCreditCardPlans                          0
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    0
Earnings or wages  in dollars per hour                               0
Cotton Monthly Price - US cents per Pound(lbs)                       0
Change(in%)                                                          0
Average upland planted(million acres)                                0
Average upland harvested(million acres)                              0
yieldperharvested acre                                               0
Production (in  480-lb netweright in million bales)                  0
Mill use  (in  480-lb netweright in million bales)                   0
Exports                                                              0
Year                                                                 0
Month                                                                0
dtype: int64

In [311]:
weath.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 23 columns):
Year                           2922 non-null int64
Month                          2922 non-null object
Day                            2922 non-null int64
Temp high (°C)                 2922 non-null object
Temp avg (°C)                  2922 non-null object
Temp low (°C)                  2922 non-null object
Dew Point high (°C)            2922 non-null object
Dew Point avg (°C)             2922 non-null object
Dew Point low (°C)             2922 non-null object
Humidity (%) high              2922 non-null object
Humidity (%) avg               2922 non-null object
Humidity (%) low               2922 non-null object
Sea Level Press. (hPa) high    2922 non-null object
Sea Level Press. (hPa) avg     2922 non-null object
Sea Level Press. (hPa) low     2922 non-null object
Visibility (km) high           2922 non-null object
Visibility (km) avg            2922 non-null object
Visibility (km) low            2922 non-null object
Wind (km/h) low                2922 non-null object
Wind (km/h) avg                2922 non-null object
Wind (km/h) high               2922 non-null object
Precip. (mm) sum               2922 non-null object
WeatherEvent                   1014 non-null object
dtypes: int64(2), object(21)
memory usage: 525.1+ KB

In [312]:
weath['Month'].value_counts()

Mar    248
Dec    248
Jan    248
May    248
Jul    248
Aug    248
Oct    248
Apr    240
Sep    240
Nov    240
Jun    240
Feb    226
Name: Month, dtype: int64

In [313]:
weath.isnull().sum()

Year                              0
Month                             0
Day                               0
Temp high (°C)                    0
Temp avg (°C)                     0
Temp low (°C)                     0
Dew Point high (°C)               0
Dew Point avg (°C)                0
Dew Point low (°C)                0
Humidity (%) high                 0
Humidity (%) avg                  0
Humidity (%) low                  0
Sea Level Press. (hPa) high       0
Sea Level Press. (hPa) avg        0
Sea Level Press. (hPa) low        0
Visibility (km) high              0
Visibility (km) avg               0
Visibility (km) low               0
Wind (km/h) low                   0
Wind (km/h) avg                   0
Wind (km/h) high                  0
Precip. (mm) sum                  0
WeatherEvent                   1908
dtype: int64

In [314]:
weath['WeatherEvent'].value_counts()

Rain                 685
Fog , Rain           156
Snow                  72
Fog , Snow            39
Rain , Snow           27
Fog , Rain , Snow     22
Fog                   12
Thunderstorm           1
Name: WeatherEvent, dtype: int64

In [315]:
weath['Precip.\xa0(mm) sum'].value_counts()

0         1754
T          205
0.25        86
0.51        57
0.76        45
1.02        38
1.27        36
1.52        36
2.29        27
1.78        22
4.83        19
3.3         16
4.06        15
2.79        15
2.03        14
3.56        14
3.81        13
3.05        12
6.35        11
12.7        10
5.59        10
7.62        10
8.89        10
7.37        10
4.57        10
8.38        10
11.43       10
6.1          9
10.16        8
5.08         8
          ...
21.84        1
21.08        1
46.23        1
23.88        1
29.97        1
27.94        1
126.24       1
36.07        1
51.31        1
73.15        1
42.67        1
58.42        1
33.02        1
17.27        1
64.52        1
66.29        1
39.62        1
76.71        1
81.79        1
14.73        1
38.35        1
98.04        1
20.57        1
101.35       1
105.66       1
sum          1
49.53        1
36.83        1
45.72        1
20.83        1
Name: Precip. (mm) sum, Length: 179, dtype: int64

In [316]:
for c in weath.columns:
    print( "---- %s ---" % c)
    print(weath[c].value_counts())

---- Year ---
2016    366
2012    366
2015    365
2013    365
2011    365
2009    365
2014    365
2010    365
Name: Year, dtype: int64
---- Month ---
Mar    248
Dec    248
Jan    248
May    248
Jul    248
Aug    248
Oct    248
Apr    240
Sep    240
Nov    240
Jun    240
Feb    226
Name: Month, dtype: int64
---- Day ---
1     96
28    96
4     96
6     96
8     96
10    96
12    96
14    96
16    96
18    96
20    96
22    96
24    96
26    96
2     96
3     96
5     96
7     96
9     96
11    96
13    96
15    96
17    96
19    96
21    96
23    96
25    96
27    96
29    90
30    88
31    56
Name: Day, dtype: int64
---- Temp high (°C) ---
28      140
27      124
29      114
22      112
18      110
26      109
23      104
21      100
12       98
31       97
14       96
8        92
17       90
19       89
7        88
24       87
4        86
16       86
13       84
32       83
11       80
6        73
3        70
9        66
2        59
30       54
10       53
1        52
15       50
33       50
-1       44
25       42
20       42
34       35
5        28
0        28
-3       21
-2       20
36       14
-6       12
-4        8
35        7
-7        6
-5        5
38        3
37        2
-         2
-9        2
-8        2
39        1
40        1
high      1
Name: Temp high (°C), dtype: int64
---- Temp avg (°C) ---
24     148
23     125
26     119
22     115
16     110
12     110
19     110
17     110
4      109
8      102
9      100
13      96
21      95
6       92
18      91
11      90
7       90
27      90
14      87
1       85
28      79
2       79
3       74
10      64
25      57
-1      55
-3      55
20      53
-2      49
15      46
-4      38
5       38
29      31
0       29
-7      18
-6      17
30      12
31      11
-9       9
-8       6
-5       6
-10      5
32       5
-11      4
33       2
-        2
34       1
avg      1
-14      1
-12      1
Name: Temp avg (°C), dtype: int64
---- Temp low (°C) ---
18     135
21     128
2      128
19     127
12     120
6      118
22     114
16     106
3      106
8      106
14     103
7      100
17      99
13      98
11      97
4       96
1       91
-1      88
9       87
-2      83
23      80
20      74
10      65
5       64
-4      62
-3      59
24      51
0       42
15      42
-6      40
-7      40
-8      28
-5      24
-9      24
-11     20
26      17
25      13
-13     11
-10      8
27       7
-16      4
-12      4
-14      4
28       3
-        2
-17      1
-18      1
low      1
29       1
Name: Temp low (°C), dtype: int64
---- Dew Point high (°C) ---
18      138
16      132
14      128
21      125
13      124
19      120
22      118
8       101
12       98
17       97
11       96
-1       93
6        92
9        90
-2       89
1        89
2        84
7        80
4        79
3        76
23       75
20       74
-3       72
-6       64
-7       60
10       59
-4       54
5        51
15       50
0        45
-11      36
-5       32
24       31
-8       31
-9       25
-12      23
-10      20
-13      17
-14      10
-16      10
-17       7
25        7
26        4
-15       4
-18       3
-21       3
-         2
-19       1
-22       1
-24       1
high      1
Name: Dew Point high (°C), dtype: int64
---- Dew Point avg (°C) ---
12     132
18     121
16     118
11     113
14     111
17     108
19     103
-1     101
13     101
6      100
-2      98
-4      93
4       91
9       90
7       89
21      87
3       87
8       86
1       84
-3      81
2       77
-6      77
-8      73
-7      57
-9      57
0       54
-12     50
15      48
22      45
-13     43
20      41
-5      40
-11     40
5       39
10      36
-14     30
-16     24
-17     18
-10     15
23      15
-18     15
-19     10
-15      7
-20      3
-22      3
-24      2
24       2
-21      2
-        2
-27      1
-23      1
avg      1
Name: Dew Point avg (°C), dtype: int64
---- Dew Point low (°C) ---
12     116
9      115
13     112
-4     105
11     104
-3      99
8       98
17      95
-8      93
14      93
-2      92
-6      91
1       90
-7      88
16      87
4       83
7       82
6       80
-1      79
2       75
3       74
-9      70
19      66
-11     66
18      60
-16     54
-5      54
-13     53
-12     53
10      51
5       50
-14     44
15      38
-10     37
0       36
-18     35
-17     32
-15     30
-19     30
21      29
-21     20
20      18
-22     12
-20     10
-24      6
-25      5
-27      4
-        2
22       2
-23      2
-28      1
low      1
Name: Dew Point low (°C), dtype: int64
---- Humidity (%) high ---
100     326
93      281
84       97
92       90
70       82
73       76
64       74
87       74
90       68
78       67
89       65
86       63
77       62
97       59
59       57
68       57
72       56
76       56
79       56
63       56
67       53
61       53
82       52
96       51
71       50
58       49
69       47
80       42
74       42
65       42
       ...
56       34
81       33
75       32
57       29
54       28
94       26
50       25
52       22
49       17
47       16
51       13
48       11
45        9
44        9
43        8
42        8
46        8
41        7
88        7
37        3
91        3
39        2
36        2
-         2
40        1
high      1
35        1
34        1
32        1
28        1
Name: Humidity (%) high, Length: 67, dtype: int64
---- Humidity (%) avg ---
54     97
56     82
58     79
48     78
63     75
66     74
62     74
50     74
55     73
52     72
57     71
53     69
61     68
68     66
74     65
71     64
51     63
59     63
47     63
65     63
73     62
72     59
60     59
70     59
46     58
49     58
67     58
77     54
69     52
42     51
       ..
38     23
89     23
39     23
86     21
88     21
85     21
90     20
87     20
36     18
92     14
35     14
34     13
91     13
93     12
97     10
95      9
33      9
31      9
94      7
32      5
27      5
30      3
29      3
23      2
26      2
-       2
28      1
avg     1
96      1
20      1
Name: Humidity (%) avg, Length: 76, dtype: int64
---- Humidity (%) low ---
34     94
38     91
44     87
40     86
36     85
37     82
39     82
45     80
33     80
35     79
31     74
41     73
32     73
42     72
47     69
43     69
51     67
46     66
29     61
48     60
28     58
52     56
30     54
49     53
27     50
53     47
54     43
25     42
24     41
57     40
       ..
73     17
84     16
69     14
72     14
74     14
18     13
82     13
71     13
86     13
93     10
76     10
15      9
87      9
83      8
77      7
75      6
89      6
16      6
80      5
90      5
85      5
14      5
81      4
12      3
11      2
-       2
13      1
low     1
92      1
9       1
Name: Humidity (%) low, Length: 84, dtype: int64
---- Sea Level Press. (hPa) high ---
1020    172
1021    171
1016    171
1017    166
1019    161
1022    161
1023    147
1014    146
1015    143
1024    127
1025    117
1013    110
1026    106
1012    104
1027     97
1018     97
1028     75
1011     72
1029     67
1030     62
1010     52
1031     41
1032     41
1009     40
1008     38
1007     29
1033     25
1006     21
1035     19
-        19
1034     18
1005     16
1036     14
1004     13
1038     11
1037     11
1003     11
1039      5
1041      4
1000      3
1040      3
1002      3
1001      3
1044      2
999       1
998       1
996       1
994       1
995       1
1042      1
1043      1
high      1
Name: Sea Level Press. (hPa) high, dtype: int64
---- Sea Level Press. (hPa) avg ---
1016    166
1014    165
1012    164
1015    161
1019    156
1017    148
1013    148
1020    142
1011    137
1022    131
1021    129
1018    119
1023    108
1010    103
1009     93
1025     79
1024     71
1008     69
1007     62
1026     57
1006     56
1027     51
1005     46
1028     42
1029     33
1004     30
1030     29
1031     28
1002     27
1003     23
1000     21
-        19
1033     14
1001     13
1032     13
999       9
1036      8
994       6
998       6
1035      5
1037      4
997       4
1034      4
996       4
993       4
1038      3
992       2
1041      2
avg       1
989       1
991       1
990       1
988       1
987       1
1040      1
980       1
Name: Sea Level Press. (hPa) avg, dtype: int64
---- Sea Level Press. (hPa) low ---
1013    174
1011    170
1012    168
1015    161
1014    148
1009    147
1016    143
1010    143
1020    126
1019    121
1008    120
1017    104
1007     97
1006     94
1021     87
1018     82
1004     73
1023     71
1005     66
1022     60
1003     55
1024     49
1025     47
1002     42
1001     41
1026     32
1027     29
1000     28
999      27
998      27
-        19
997      18
1028     17
1029     17
994      15
996      14
993       9
995       9
1030      8
989       8
1032      8
1031      6
992       5
1033      4
991       4
983       4
988       3
987       3
986       3
1037      2
1036      2
990       2
1034      2
966       2
1035      1
984       1
low       1
978       1
982       1
980       1
Name: Sea Level Press. (hPa) low, dtype: int64
---- Visibility (km) high ---
16      2794
14        52
-         28
13        25
11        13
10         7
8          2
high       1
Name: Visibility (km) high, dtype: int64
---- Visibility (km) avg ---
16     1619
15      238
14      204
13      124
9       115
10      113
12      106
11       90
8        83
7        81
6        65
5        38
-        28
4        10
3         5
avg       1
2         1
1         1
Name: Visibility (km) avg, dtype: int64
---- Visibility (km) low ---
16     1274
1       240
2       201
3       185
14      179
13      135
11      130
0       121
6       106
10      105
8        87
4        78
5        52
-        28
low       1
Name: Visibility (km) low, dtype: int64
---- Wind (km/h) low ---
21     377
19     360
23     316
16     302
24     293
26     242
27     214
14     185
29     138
32      98
34      94
13      80
35      57
37      37
11      26
-       20
40      20
39      19
42       9
10       8
48       6
47       5
45       4
50       2
52       2
8        2
159      1
60       1
61       1
121      1
low      1
6        1
Name: Wind (km/h) low, dtype: int64
---- Wind (km/h) avg ---
7      338
8      335
9      328
6      296
5      268
10     226
11     191
12     150
4      150
13     119
14     119
3       76
15      60
16      56
17      47
18      33
19      28
2       22
-       20
20      20
22       8
23       7
21       5
24       4
1        4
25       3
0        3
159      1
26       1
28       1
30       1
37       1
avg      1
Name: Wind (km/h) avg, dtype: int64
---- Wind (km/h) high ---
35      229
27      208
32      206
29      194
37      189
26      188
34      159
40      150
39      141
42      127
31      120
24      115
23      107
45       90
48       76
47       65
21       59
-        59
50       57
52       51
43       49
53       41
19       34
56       32
58       30
55       22
60       17
64       16
61       14
63       14
18       12
69       11
66       10
16        8
71        4
72        3
14        3
74        2
68        2
76        1
77        1
85        1
97        1
100       1
159       1
high      1
11        1
Name: Wind (km/h) high, dtype: int64
---- Precip. (mm) sum ---
0         1754
T          205
0.25        86
0.51        57
0.76        45
1.02        38
1.27        36
1.52        36
2.29        27
1.78        22
4.83        19
3.3         16
4.06        15
2.79        15
2.03        14
3.56        14
3.81        13
3.05        12
6.35        11
12.7        10
5.59        10
7.62        10
8.89        10
7.37        10
4.57        10
8.38        10
11.43       10
6.1          9
10.16        8
5.08         8
          ...
21.84        1
21.08        1
46.23        1
23.88        1
29.97        1
27.94        1
126.24       1
36.07        1
51.31        1
73.15        1
42.67        1
58.42        1
33.02        1
17.27        1
64.52        1
66.29        1
39.62        1
76.71        1
81.79        1
14.73        1
38.35        1
98.04        1
20.57        1
101.35       1
105.66       1
sum          1
49.53        1
36.83        1
45.72        1
20.83        1
Name: Precip. (mm) sum, Length: 179, dtype: int64
---- WeatherEvent ---
Rain                 685
Fog , Rain           156
Snow                  72
Fog , Snow            39
Rain , Snow           27
Fog , Rain , Snow     22
Fog                   12
Thunderstorm           1
Name: WeatherEvent, dtype: int64

In [317]:
for i in weath.columns:
    weath[i]=weath[i].replace('-',np.nan)

In [318]:
print(weath.loc[weath['Wind\xa0(km/h) high'] == 'high'])

      Year Month  Day Temp high (°C) Temp avg (°C) Temp low (°C)  \
1826  2014   Jan    1           high           avg           low

     Dew Point high (°C) Dew Point avg (°C) Dew Point low (°C)  \
1826                high                avg                low

     Humidity (%) high  ... Sea Level Press. (hPa) avg  \
1826              high  ...                        avg

     Sea Level Press. (hPa) low Visibility (km) high Visibility (km) avg  \
1826                        low                 high                 avg

     Visibility (km) low Wind (km/h) low Wind (km/h) avg Wind (km/h) high  \
1826                 low             low             avg             high

     Precip. (mm) sum WeatherEvent
1826              sum          NaN

[1 rows x 23 columns]

In [319]:
weath.drop(weath.index[1826],inplace=True)

In [320]:
print(weath.loc[weath['Wind\xa0(km/h) high'] == 'high'])

Empty DataFrame
Columns: [Year, Month, Day, Temp high (°C), Temp avg (°C), Temp low (°C), Dew Point high (°C), Dew Point avg (°C), Dew Point low (°C), Humidity (%) high, Humidity (%) avg, Humidity (%) low, Sea Level Press. (hPa) high, Sea Level Press. (hPa) avg, Sea Level Press. (hPa) low, Visibility (km) high, Visibility (km) avg, Visibility (km) low, Wind (km/h) low, Wind (km/h) avg, Wind (km/h) high, Precip. (mm) sum, WeatherEvent]
Index: []

[0 rows x 23 columns]

In [321]:
weath=weath.drop(['Precip.\xa0(mm) sum','WeatherEvent'],axis=1)

In [322]:
weath['Month']=weath['Month'].replace({'Jan':1,'Feb':2,'Mar':3,'Apr':4,'May':5,'Jun':6,'Jul':7,'Aug':8,
                                'Sep':9,'Oct':10,'Nov':11,'Dec':12})

In [323]:
weath.dropna(inplace=True)

In [324]:
for i in weath.columns:
    weath[i]=weath[i].astype(float)

In [325]:
weath['Year']=weath['Year'].astype('int64')

In [326]:
weath['Month']=weath['Month'].astype('int64')

In [327]:
weath.dtypes

Year                             int64
Month                            int64
Day                            float64
Temp high (°C)                 float64
Temp avg (°C)                  float64
Temp low (°C)                  float64
Dew Point high (°C)            float64
Dew Point avg (°C)             float64
Dew Point low (°C)             float64
Humidity (%) high              float64
Humidity (%) avg               float64
Humidity (%) low               float64
Sea Level Press. (hPa) high    float64
Sea Level Press. (hPa) avg     float64
Sea Level Press. (hPa) low     float64
Visibility (km) high           float64
Visibility (km) avg            float64
Visibility (km) low            float64
Wind (km/h) low                float64
Wind (km/h) avg                float64
Wind (km/h) high               float64
dtype: object

In [328]:
macro.dtypes

Monthly Nominal GDP Index (inMillion$)                               float64
Monthly Real GDP Index (inMillion$)                                  float64
CPI                                                                  float64
unemployment rate                                                    float64
CommercialBankInterestRateonCreditCardPlans                          float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    float64
Earnings or wages  in dollars per hour                               float64
Cotton Monthly Price - US cents per Pound(lbs)                       float64
Change(in%)                                                          float64
Average upland planted(million acres)                                float64
Average upland harvested(million acres)                              float64
yieldperharvested acre                                                 int64
Production (in  480-lb netweright in million bales)                  float64
Mill use  (in  480-lb netweright in million bales)                   float64
Exports                                                              float64
Year                                                                   int32
Month                                                                  int64
dtype: object

In [329]:
weath.head()

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,...,Humidity (%) low,Sea Level Press. (hPa) high,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high
0,2009,1,1.0,-3.0,-6.0,-9.0,-16.0,-17.0,-19.0,54.0,...,32.0,1025.0,1023.0,1015.0,16.0,16.0,16.0,37.0,18.0,60.0
1,2009,1,2.0,1.0,-2.0,-5.0,-3.0,-7.0,-17.0,78.0,...,36.0,1022.0,1012.0,1007.0,16.0,13.0,2.0,27.0,10.0,48.0
2,2009,1,3.0,3.0,1.0,-2.0,-5.0,-9.0,-13.0,72.0,...,35.0,1018.0,1015.0,1008.0,16.0,16.0,16.0,27.0,16.0,42.0
3,2009,1,4.0,6.0,1.0,-4.0,-10.0,-12.0,-13.0,55.0,...,29.0,1020.0,1017.0,1015.0,16.0,16.0,16.0,32.0,12.0,40.0
4,2009,1,5.0,6.0,5.0,3.0,-1.0,-5.0,-16.0,62.0,...,33.0,1016.0,1014.0,1013.0,16.0,16.0,16.0,23.0,11.0,34.0

In [330]:
macro.head()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Year,Month
0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550,2009,1
1,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100,2009,2
2,14340.701639,14351.786822,235.067,8.7,12.97,11.05,22.22,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650,2009,3
3,14326.815525,14351.601731,235.582,9.0,12.97,11.05,22.13,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225,2009,4
4,14345.904809,14368.123959,235.975,9.4,13.32,11.25,22.04,61.95,9.11,9.297,7.400,803,12.384,3.52,12.300,2009,5

In [331]:
mt=pd.merge(macro,data,on=['Year','Month'],how='inner')

In [332]:
mt.head()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Year,Month,ProductCategory,Sales(In ThousandDollars),dtype
0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,2009,1,WomenClothing,1755.0,train
1,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,2009,1,MenClothing,524.0,train
2,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,2009,1,OtherClothing,936.0,train
3,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10,2009,2,WomenClothing,1729.0,train
4,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10,2009,2,MenClothing,496.0,train

In [333]:
wmt=pd.merge(mt,weath,on=['Year','Month'],how='inner')

In [334]:
wmt.head()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),...,Humidity (%) low,Sea Level Press. (hPa) high,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high
0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.7,4.02,9.296,...,32.0,1025.0,1023.0,1015.0,16.0,16.0,16.0,37.0,18.0,60.0
1,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.7,4.02,9.296,...,36.0,1022.0,1012.0,1007.0,16.0,13.0,2.0,27.0,10.0,48.0
2,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.7,4.02,9.296,...,35.0,1018.0,1015.0,1008.0,16.0,16.0,16.0,27.0,16.0,42.0
3,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.7,4.02,9.296,...,29.0,1020.0,1017.0,1015.0,16.0,16.0,16.0,32.0,12.0,40.0
4,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.7,4.02,9.296,...,33.0,1016.0,1014.0,1013.0,16.0,16.0,16.0,23.0,11.0,34.0

In [335]:
#wmt=pd.get_dummies(['ProductCategory'],drop_first=True)

In [336]:
wmt['ProductCategory']=wmt['ProductCategory'].replace(['WomenClothing','MenClothing','OtherClothing'],[1,2,3])

In [337]:
wmt.isnull().sum()

Monthly Nominal GDP Index (inMillion$)                                  0
Monthly Real GDP Index (inMillion$)                                     0
CPI                                                                     0
unemployment rate                                                       0
CommercialBankInterestRateonCreditCardPlans                             0
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan       0
Earnings or wages  in dollars per hour                                  0
Cotton Monthly Price - US cents per Pound(lbs)                          0
Change(in%)                                                             0
Average upland planted(million acres)                                   0
Average upland harvested(million acres)                                 0
yieldperharvested acre                                                  0
Production (in  480-lb netweright in million bales)                     0
Mill use  (in  480-lb netweright in million bales)                      0
Exports                                                                 0
Year                                                                    0
Month                                                                   0
ProductCategory                                                         0
Sales(In ThousandDollars)                                            1404
dtype                                                                   0
Day                                                                     0
Temp high (°C)                                                          0
Temp avg (°C)                                                           0
Temp low (°C)                                                           0
Dew Point high (°C)                                                     0
Dew Point avg (°C)                                                      0
Dew Point low (°C)                                                      0
Humidity (%) high                                                       0
Humidity (%) avg                                                        0
Humidity (%) low                                                        0
Sea Level Press. (hPa) high                                             0
Sea Level Press. (hPa) avg                                              0
Sea Level Press. (hPa) low                                              0
Visibility (km) high                                                    0
Visibility (km) avg                                                     0
Visibility (km) low                                                     0
Wind (km/h) low                                                         0
Wind (km/h) avg                                                         0
Wind (km/h) high                                                        0
dtype: int64

In [338]:
wmt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7488 entries, 0 to 7487
Data columns (total 39 columns):
Monthly Nominal GDP Index (inMillion$)                               7488 non-null float64
Monthly Real GDP Index (inMillion$)                                  7488 non-null float64
CPI                                                                  7488 non-null float64
unemployment rate                                                    7488 non-null float64
CommercialBankInterestRateonCreditCardPlans                          7488 non-null float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    7488 non-null float64
Earnings or wages  in dollars per hour                               7488 non-null float64
Cotton Monthly Price - US cents per Pound(lbs)                       7488 non-null float64
Change(in%)                                                          7488 non-null float64
Average upland planted(million acres)                                7488 non-null float64
Average upland harvested(million acres)                              7488 non-null float64
yieldperharvested acre                                               7488 non-null int64
Production (in  480-lb netweright in million bales)                  7488 non-null float64
Mill use  (in  480-lb netweright in million bales)                   7488 non-null float64
Exports                                                              7488 non-null float64
Year                                                                 7488 non-null int32
Month                                                                7488 non-null int64
ProductCategory                                                      7488 non-null int64
Sales(In ThousandDollars)                                            6084 non-null float64
dtype                                                                7488 non-null object
Day                                                                  7488 non-null float64
Temp high (°C)                                                       7488 non-null float64
Temp avg (°C)                                                        7488 non-null float64
Temp low (°C)                                                        7488 non-null float64
Dew Point high (°C)                                                  7488 non-null float64
Dew Point avg (°C)                                                   7488 non-null float64
Dew Point low (°C)                                                   7488 non-null float64
Humidity (%) high                                                    7488 non-null float64
Humidity (%) avg                                                     7488 non-null float64
Humidity (%) low                                                     7488 non-null float64
Sea Level Press. (hPa) high                                          7488 non-null float64
Sea Level Press. (hPa) avg                                           7488 non-null float64
Sea Level Press. (hPa) low                                           7488 non-null float64
Visibility (km) high                                                 7488 non-null float64
Visibility (km) avg                                                  7488 non-null float64
Visibility (km) low                                                  7488 non-null float64
Wind (km/h) low                                                      7488 non-null float64
Wind (km/h) avg                                                      7488 non-null float64
Wind (km/h) high                                                     7488 non-null float64
dtypes: float64(34), int32(1), int64(3), object(1)
memory usage: 2.3+ MB

In [339]:
h=pd.read_excel('events_holidays.xlsx')
h.head()

   Year  MonthDate                       Event      DayCategory
0  2009 2001-01-01              New Year's Day  Federal Holiday
1  2009 2019-01-01  Martin Luther King Jr. Day  Federal Holiday
2  2009 2014-02-01             Valentine's Day            Event
3  2009 2016-02-01             Presidents' Day  Federal Holiday
4  2009 2012-04-01               Easter Sunday            Event

In [340]:
h.DayCategory.unique()

array(['Federal Holiday', 'Event'], dtype=object)

In [341]:
h['DayCategory']=h['DayCategory'].replace({'Federal Holiday':1,'Event':2})

In [342]:
h.Event.unique()

array(["New Year's Day", 'Martin Luther King Jr. Day', "Valentine's Day",
       "Presidents' Day", 'Easter Sunday', "Mother's Day", 'Memorial Day',
       "Father's Day", "'Independence Day' observed", 'Independence Day',
       'Labor Day', 'Columbus Day (Most regions)', 'Halloween',
       'Veterans Day', 'Thanksgiving Day', 'Christmas Eve',
       'Christmas Day', "New Year's Eve", "'Christmas Day' observed",
       "'New Year's Day' observed", 'Election Day',
       "Thomas Jefferson's Birthday", 'Day After Christmas Day'],
      dtype=object)

In [343]:
h['Event']=h['Event'].replace(["New Year's Day", 'Martin Luther King Jr. Day', "Valentine's Day",
       "Presidents' Day", 'Easter Sunday', "Mother's Day", 'Memorial Day',
       "Father's Day", "'Independence Day' observed", 'Independence Day',
       'Labor Day', 'Columbus Day (Most regions)', 'Halloween',
       'Veterans Day', 'Thanksgiving Day', 'Christmas Eve',
       'Christmas Day', "New Year's Eve", "'Christmas Day' observed",
       "'New Year's Day' observed", 'Election Day',
       "Thomas Jefferson's Birthday", 'Day After Christmas Day'],[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23])

In [344]:
h.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
Year           150 non-null int64
MonthDate      150 non-null datetime64[ns]
Event          150 non-null int64
DayCategory    150 non-null int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 4.8 KB

In [345]:
h['MonthDate']=h['MonthDate'].astype(str)

In [346]:
h['Month']=h['MonthDate'].apply(lambda x: x[6:7])

In [347]:
h.drop(['MonthDate'],axis=1,inplace=True)

In [348]:
h.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
Year           150 non-null int64
Event          150 non-null int64
DayCategory    150 non-null int64
Month          150 non-null object
dtypes: int64(3), object(1)
memory usage: 4.8+ KB

In [349]:
h['Month']=h['Month'].astype(int)

In [350]:
h.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
Year           150 non-null int64
Event          150 non-null int64
DayCategory    150 non-null int64
Month          150 non-null int32
dtypes: int32(1), int64(3)
memory usage: 4.2 KB

In [351]:
wmth=pd.merge(wmt,h,on=['Year','Month'],how='inner')

In [352]:
wmth.columns

Index(['Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'unemployment rate',
       'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports', 'Year',
       'Month', 'ProductCategory', 'Sales(In ThousandDollars)', 'dtype', 'Day',
       'Temp high (°C)', 'Temp avg (°C)', 'Temp low (°C)',
       'Dew Point high (°C)', 'Dew Point avg (°C)', 'Dew Point low (°C)',
       'Humidity (%) high', 'Humidity (%) avg', 'Humidity (%) low',
       'Sea Level Press. (hPa) high', 'Sea Level Press. (hPa) avg',
       'Sea Level Press. (hPa) low', 'Visibility (km) high',
       'Visibility (km) avg', 'Visibility (km) low', 'Wind (km/h) low',
       'Wind (km/h) avg', 'Wind (km/h) high', 'Event', 'DayCategory'],
      dtype='object')

In [354]:
wmth.drop(['CommercialBankInterestRateonCreditCardPlans'],axis=1,inplace=True)

In [355]:
wmth.drop(['Temp high (°C)','Temp low (°C)'],axis=1,inplace=True)

In [356]:
wmth.drop(['Dew Point high (°C)','Dew Point low (°C)'],axis=1,inplace=True)

In [362]:
wmth.drop(['Sea Level Press.\xa0(hPa) high','Sea Level Press.\xa0(hPa) low'],axis=1,inplace=True)

In [363]:
wmth.drop(['Visibility\xa0(km) high', 'Visibility\xa0(km) low'],axis=1,inplace=True)

In [364]:
wmth.drop(['Wind\xa0(km/h) high','Wind\xa0(km/h) low'],axis=1,inplace=True)

In [365]:
dftrain=wmth[wmth['dtype']=='train']

In [366]:
dftrain=dftrain.drop(['dtype'],axis=1)

In [367]:
dftrain.head(1)

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),...,Temp avg (°C),Dew Point avg (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,Sea Level Press. (hPa) avg,Visibility (km) avg,Wind (km/h) avg,Event,DayCategory
0,14421.752895,14407.053343,233.402,7.8,11.44,22.05,57.7,4.02,9.296,7.559,...,-6.0,-17.0,54.0,43.0,32.0,1023.0,16.0,18.0,1,1

In [368]:
dftest=wmth[wmth['dtype']=='test']

In [369]:
dftest=dftest.drop(['dtype'],axis=1)

In [370]:
dftest.head()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),...,Temp avg (°C),Dew Point avg (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,Sea Level Press. (hPa) avg,Visibility (km) avg,Wind (km/h) avg,Event,DayCategory
8445,17792.116953,16319.786314,258.376,5.7,10.47,24.88,67.35,-1.39,10.845,9.518,...,1.0,-12.0,46.0,37.0,27.0,1018.0,16.0,11.0,1,1
8446,17792.116953,16319.786314,258.376,5.7,10.47,24.88,67.35,-1.39,10.845,9.518,...,1.0,-12.0,46.0,37.0,27.0,1018.0,16.0,11.0,2,1
8447,17792.116953,16319.786314,258.376,5.7,10.47,24.88,67.35,-1.39,10.845,9.518,...,1.0,-12.0,46.0,37.0,27.0,1018.0,16.0,11.0,14,1
8448,17792.116953,16319.786314,258.376,5.7,10.47,24.88,67.35,-1.39,10.845,9.518,...,1.0,-12.0,46.0,37.0,27.0,1018.0,16.0,11.0,15,1
8449,17792.116953,16319.786314,258.376,5.7,10.47,24.88,67.35,-1.39,10.845,9.518,...,4.0,-8.0,52.0,43.0,33.0,1023.0,16.0,11.0,1,1

In [371]:
dftest.columns

Index(['Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'unemployment rate',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports', 'Year',
       'Month', 'ProductCategory', 'Sales(In ThousandDollars)', 'Day',
       'Temp avg (°C)', 'Dew Point avg (°C)', 'Humidity (%) high',
       'Humidity (%) avg', 'Humidity (%) low', 'Sea Level Press. (hPa) avg',
       'Visibility (km) avg', 'Wind (km/h) avg', 'Event', 'DayCategory'],
      dtype='object')

In [372]:
dftest.drop(['Sales(In ThousandDollars)'],axis=1,inplace=True)

# model building

In [373]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
#x_train,x_val,y_train,y_val=train_test_split(dftrain,test_size=0.2,random_state=1)

In [374]:
dftrain['Sales(In ThousandDollars)'].isnull().sum()

339

In [375]:
dftrain['Sales(In ThousandDollars)']=dftrain['Sales(In ThousandDollars)'].fillna(method='ffill')

In [376]:
dftrain['Sales(In ThousandDollars)'].isnull().sum()

0

In [377]:
x1=dftrain.drop('Sales(In ThousandDollars)',axis=1)
y1=dftrain['Sales(In ThousandDollars)']

In [378]:
x_train,x_val,y_train,y_val=train_test_split(x1,y1,test_size=0.2,random_state=1)

In [379]:
lr=LinearRegression()

In [380]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [381]:
y_pred = lr.predict(x_val)

In [382]:
mse=np.sqrt(mean_squared_error(y_val,y_pred))
mse

734.515856475886

In [383]:
lr.score(x_val,y_val)

0.5347574146284899

In [384]:
yprd=lr.predict(dftest)

In [385]:
yprd

array([3140.33820095, 3137.98086553, 3109.69284051, ..., 1821.81662915,
       1820.37582955, 1832.60362554])

In [386]:
len(yprd)

1608

In [387]:
df1 = pd.DataFrame({"S.No.":np.arange(0,1608),"Sales":yprd})
df1.to_csv("submission-ABC.csv",index = False)

In [388]:
predict = lr.predict(x_train)

In [60]:
r2_score(y_train,predict)

0.5533030124697949

In [389]:
from sklearn import tree

In [390]:
param_grid = {'criterion':['mse','mae'],
             'min_samples_split':[2,10,20],
             'max_depth':[None,2,5,10],
             'min_samples_leaf':[1,5,10],
             'max_leaf_nodes':[None,5,10,20]}

#from sklearn.model_selection import GridSearchCV
#dt = tree.DecisionTreeRegressor()
##reg = GridSearchCV(dt,param_grid , cv=2)
#reg.fit(x_train,y_train)

#reg.best_estimator_

In [65]:
DT_model = reg.best_estimator_

In [66]:
dt_y_pred = DT_model.predict(x_val)

In [67]:
mse2=np.sqrt(mean_squared_error(y_val,dt_y_pred))
mse2

0.8919914773408968

In [68]:
r2_score(y_val,dt_y_pred)

0.999999490496863

In [69]:
df1 = pd.DataFrame({"S.No.":np.arange(1,37),"Sales":mse2})
df1.to_csv("submission-B.csv",index = False)

In [70]:
lambdas = np.linspace (1,100,100)
params = {'alpha':lambdas}
model = Ridge(fit_intercept = True)

In [71]:
Ridge = GridSearchCV(model,param_grid = params , cv = 10, scoring = 'neg_mean_absolute_error')

In [72]:
Ridge.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'alpha': array([  1.,   2., ...,  99., 100.])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_absolute_error', verbose=0)

In [73]:
Ridge.best_estimator_

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [74]:
Ridge_model = Ridge.best_estimator_

In [75]:
Ridge_y_pred = Ridge_model.predict(x_val)

In [76]:
np.sqrt(mean_squared_error(y_val,Ridge_y_pred))

859.254348190587

In [77]:
r2_score(y_val,Ridge_y_pred)

0.5272092951751617

#from sklearn.neighbors import KNeighborsRegressor

In [79]:
model = KNeighborsRegressor()
model.fit(x_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform')

In [80]:
KNN_y_pred = model.predict(x_val)

In [81]:
r2_score(y_val,KNN_y_pred)

-0.021599349603535822

In [82]:
params = np.arange(1,101,10)

param_grid = {'n_neighbors':params,
             'metric':['minkowski','manhattan','euclidean']}

In [83]:
reg = GridSearchCV(model,param_grid , cv=2)
reg.fit(x_train,y_train)

GridSearchCV(cv=2, error_score='raise-deprecating',
       estimator=KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_neighbors': array([ 1, 11, 21, 31, 41, 51, 61, 71, 81, 91]), 'metric': ['minkowski', 'manhattan', 'euclidean']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [84]:
model = reg.best_estimator_

In [85]:
model.fit(x_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='manhattan',
          metric_params=None, n_jobs=None, n_neighbors=31, p=2,
          weights='uniform')

In [86]:
KNN_y_pred = model.predict(x_val)

In [87]:
r2_score(y_val,KNN_y_pred)

0.11908735487374689

#from sklearn.ensemble import AdaBoostRegressor
#ada = AdaBoostRegressor()

In [278]:
ada.fit(x_train,y_train)
ada_pred = ada.predict(x_val)
len(ada_pred)

1689

In [279]:
r2_score(y_val,ada_pred)

0.9469549263806429

In [280]:
RMSE=np.sqrt(mean_squared_error(y_val,ada_pred))
RMSE

248.01844121255806

In [281]:
ad_prd=ada.predict(dftest)

In [295]:
ad_prd

array([4061.49242424, 4061.49242424, 4061.49242424, ..., 1039.63517915,
       1039.63517915, 1039.63517915])

In [282]:
len(ad_prd)

1608

In [285]:
df1 = pd.DataFrame({"S.No.":np.arange(0,1608),"Sales":ad_prd})
df1.to_csv("submission-AA.csv",index = False)

In [94]:
#from sklearn.decomposition import PCA

In [96]:
#X_centered = x_train - x_train.mean(axis=0)

In [97]:
#pca = PCA(n_components=2)
#pca.fit(X_centered)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [98]:
#X_pca = pca.transform(X_centered)

In [99]:
#X_pca.shape

(5145, 2)

In [103]:
#X_centere = x_train - x_val.mean(axis=0)

In [104]:
#pca = PCA(n_components=2)
#pca.fit(X_centere)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [105]:
#X_Pca = pca.transform(X_centered)

In [106]:
#X_Pca.shape

(5145, 2)

In [259]:
#DT_model = reg.best_estimator_

In [260]:
#reg = GridSearchCV(dt,param_grid , cv=2)
#reg.fit(X_pca,y_train)

In [261]:
import numpy as np

In [401]:
from sklearn.model_selection import GridSearchCV

In [402]:
lambdas = np.linspace (1,100,100)
params = {'alpha':lambdas}
model = Ridge(fit_intercept = True)

In [403]:
Ridge = GridSearchCV(model,param_grid = params , cv = 10, scoring = 'neg_mean_absolute_error')

In [404]:
Ridge.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'alpha': array([  1.,   2., ...,  99., 100.])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_absolute_error', verbose=0)

In [405]:
Ridge.best_estimator_

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [406]:
Ridge_model = Ridge.best_estimator_

In [407]:
Ridge_y_pred = Ridge_model.predict(x_val)

In [408]:
np.sqrt(mean_squared_error(y_val,Ridge_y_pred))

734.7873532447429

In [409]:
r2_score(y_val,Ridge_y_pred)

0.534413418779591

In [410]:
R_y_pred = Ridge_model.predict(dftest)
R_y_pred

array([3121.25847895, 3118.91601561, 3090.80645554, ..., 1813.48864442,
       1812.31726114, 1823.66339175])

In [411]:
len(R_y_pred)

1608

In [413]:
df1 = pd.DataFrame({"S.No.":np.arange(0,1608),"Sales":R_y_pred})
df1.to_csv("submission-AVC.csv",index = False)

In [395]:
from sklearn.ensemble import RandomForestRegressor

In [396]:
rf = RandomForestRegressor()

In [397]:
rf.fit(x_train,y_train)
test_pred = rf.predict(x_val)

In [398]:
r2_score(y_val,test_pred)

0.9999999950781939

In [399]:
t_pred = rf.predict(dftest)

In [400]:
t_pred

array([4457. , 4457. , 4463. , ..., 1063.5, 1063.5, 1063.5])

In [297]:
df1 = pd.DataFrame({"S.No.":np.arange(0,1608),"Sales":t_pred})
df1.to_csv("submission-AE.csv",index = False)

In [414]:
from sklearn.ensemble import GradientBoostingRegressor

In [415]:
GB = GradientBoostingRegressor()

In [416]:
GB.fit(x_train,y_train)
pred = GB.predict(x_val)

In [417]:
r2_score(y_val,pred)

0.9936933575854028

In [418]:
predi=GB.predict(dftest)

In [419]:
predi

array([3954.51794495, 3954.51794495, 3938.84467742, ...,  978.22039753,
        978.22039753,  978.22039753])

In [420]:
df1 = pd.DataFrame({"S.No.":np.arange(0,1608),"Sales":predi})
df1.to_csv("submission-AE.csv",index = False)